/*
 * the main css file
 */

#header {
	background-color: green;
	height: 80px;
}

#content {
	padding: 15px;
	margin: auto;
	width: 820px;
}

#topnavi {
}

#topnavi li {
	display: inline;
}

#topnavi li a:hover {
	background-color: red;
}

#topnavi li a:active {
	background-color: navy;
}

#footer {
	background-color: green;
	height: 20px;
}
