th.header { 
    background-image: url(/img/ts_bg.png);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 40px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
} 

th.headerSortUp { 
    background-image: url(/img/ts_asc.png); 
    background-color: #3399FF; 
}

th.headerSortDown { 
    background-image: url(/img/ts_desc.png); 
    background-color: #3399FF; 
} 

tr {
	text-align: center;
}

.even {
	background-color: #45C241;
}

.odd {
}

