.whats-next {
	padding: 3px;
}

.whats-next .header {
	padding: 10px;
	background-color: gray;
	background: url(/img/grey.png) top center  repeat-x;
	position: relative;
}

.whats-next .title {
	font-size: 20px;
	color: black;
}


.postfix {
	color: red;
	font-weight: bold;
	position: absolute;
	right: 20px;
	font: 8px;
}



.random {
	padding: 10px;
	background-color: gray;
	color: black;
	background: url(/img/grey.png) top center  repeat-x;
	font-size: 20px;
	position: relative;
}

.qtypeButton {
	width: 35px;
	height: 35px;
	cursor: pointer;
}


#start-info {
	border: 3px solid gray;
	background-color: #06E005;
	padding: 20px;
	margin-bottom: 30px;
}

#start-info p {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#start-info span {
	padding-left: 600px;
	font-size: 12px;
	font-style: italic;
}
