#game h1 {
	font-size: 16px;
	text-align: center;
	background-color: #32DD1B;
}

input {
	width: 400px;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
}

#textfield {
	padding: 20px;
}

#game #countdown {
	float: left;
}

#game #result {
	background-color: #32DD1B;
	text-align: center;
	padding: 10px;
}

#game .error {
	padding: 10px;
	background-color: #de1923;
	text-align: center;
	margin-bottom: 5px;
}

#game .success {
	padding: 10px;
	background-color: #32DD1B;
	text-align: center;
	margin-bottom: 5px;
}
